*{
	margin:0;
	padding:0;
}

.autoTabsModule{
	margin: 0 auto;
	display: table;
	width: 100%;
	max-width: 980px;			
}

.tabsContent > * {
	display:none;
}

.autoTabsModule > .tabsContent > .active{
	display:block !important;
}

.tabsControl > *{
	display:inline-block;
	cursor: pointer;
	padding: 3%;
	background:#ccc;
}

.tabsControl > .active{
	background:#777;
}